<div class="container" style="min-height: 65vh">
    <div class="row">
        <h2 class="my-4">{{title}}</h2>
    </div>
    <div>
        <p><strong>Name:</strong> {{user.first_name}}</p>
        <p><strong>Lastname:</strong> {{user.last_name}}</p>
        <p><strong>Email:</strong> {{user.email}}</p>
        <p><strong>Age:</strong> {{user.age}}</p>
    </div>
    <div>
        <button id="logout-btn" class="btn btn-danger">Log out</button>
    </div>
</div>